* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #ffece5 !important;
    padding: 0;
}

.navLink.active {
    color: #c31e39;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.shop .container {
    max-width: 1400px;
}

.shop .row {
    align-items: start;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

span {
    color: #c31e39;
}


[placeholder] {
    padding-right: 5px;
}


/*header*/
.header {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffece5;
}


.logoLink {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.logoImg {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

figure {
    margin: 0;
}

.logoName {
    font-size: 27px;
    letter-spacing: 1px;
    color: #4a4a4a;
    margin-left: 5px;
    margin-bottom: 0;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Fuzzy Bubbles", sans-serif;
}


.navBlock {
    display: flex;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 0 !important;
    align-items: center;
}

.navList {
    margin-right: 15px;
    position: relative;
    transition: all 0.4s;
    list-style-type: none;
}

.navLink {
    font-size: 19px;
    color: #4a4a4a;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.4s;
    text-transform: capitalize;
}

.navLink:hover {
    color: #c31e39;
}

.navImg {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.languageIcons {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.subMenu {
    padding: 10px;
    text-align: left;
    position: absolute;
    background-color: rgba(255, 236, 229, 0.62);
}


.navbar-nav .dropdown-menu {
    background: transparent;
    border: none;
}

.navbar-nav {
    flex-direction: row;
}

.subList {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    list-style-type: none;
}


.subLanguageIcons {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    object-fit: cover;
}

.navList:hover .subMenu {
    display: block;
    opacity: 1;
    right: 0;
    visibility: visible;
}

.navList:hover .subMenu .subLangName {
    color: #4a4a4a;
    transition: all 0.4s;
}

.navList:hover .subMenu .subLangName:hover {
    color: #c31e39;
}

.subMenu:after {
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

/*banner*/
.banner {
    width: 100%;
    color: #ffece5;
    padding: 100px 0 100px;
    background-color: #ffece5;
}

.bannerRow {
    width: 100%;
    padding: 40px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    background-color: #c31e39;
    justify-content: space-between;
}

.bannerDesk,
.bannerFigure {
    width: calc(100% / 2 - 30px);
}

.bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerDesk {
    padding: 20px;
    color: #ffece5;
    margin-right: 10px;
}

.bannerTitle {
    color: #ffece5;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 35px;
}

.bannerInfo {
    color: #ffece5;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.banner2Info {
    color: #ffece5;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

.bannerBtn {
    width: 40%;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 2px solid #ffece5;
    background-color: #ffece5;
}

.bannerLink {
    color: #c31e39;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.bannerBtn:hover {
    background-color: #c31e39;
}

.bannerBtn:hover .bannerLink {
    color: #ffece5;
}


.slider-container {
    position: relative;
}

.slider-control-centerleft,
.slider-control-centerright {
    display: none;
}

.slider-control-bottomcenter {
    top: 50%;
    right: 30px;
    position: absolute;
    transform: rotate(90deg);
}

.paging-dot {
    width: 10px;
    height: 10px;
    border-radius: 0;
    margin-right: 10px;
    background-color: #ffece5;
    border: 2px solid #ffffff;
}

.paging-dot circle {
    display: none;
}

/*HOME*/
.home {
    width: 100%;
    padding: 100px 0 100px;
}


.assortment {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
    justify-content: space-between;
}


.assortmentColumn3,
.assortmentColumn2,
.assortmentColumn1 {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: calc(55% / 2);
    justify-content: space-between
}

.assortmentColumn1 {
    width: 45%;
}

.assortmentInfo {
    color: #c31e39;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffece5;
}


.assortmentColumnDesk {
    width: 100%;
    padding: 5px;
}

.assortmentImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.assortmentDesk {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffece5;
}


.assortmentBtn {
    height: 40px;
    padding: 0 40px;
    border-radius: 50px;
    transition: all 0.4s;
    border: 2px solid #c31e39;
    background-color: #ffece5;
}

.assortmentLink {
    color: #c31e39;
    font-weight: 700;
    transition: all 0.4s;
    text-decoration: none;
    text-transform: uppercase;
}

.assortmentBtn:hover {
    background-color: #c31e39;
}

.assortmentBtn:hover .assortmentLink {
    color: #ffece5;
}

.assortmentDesk .assortmentInfo {
    margin-bottom: 10px;
}

.assortmentColumn1 .assortmentColumnDesk:last-child {
    height: 35%;
    display: flex;
    flex-direction: row;
}

.assortmentColumn1 .assortmentColumnDesk:first-child {
    height: 65%;
}

.assortmentColumn1 .assortmentItem,
.assortmentColumn1 .assortmentInfo {
    width: calc(100% / 2 - 5px);
}


.assortmentColumn1 .assortmentItem {
    width: 100%;
    height: 100%;
}

.assortmentColumn1 .assortmentInfo {
    line-height: 210px;
}


.assortmentColumn2 .assortmentColumnDesk:first-child {
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.assortmentColumn2 .assortmentColumnDesk:first-child .assortmentDesk,
.assortmentColumn2 .assortmentColumnDesk:first-child .assortmentItem {
    width: 100%;
    height: calc(100% / 2);
}


.assortmentColumn2 .assortmentColumnDesk:last-child {
    height: 35%;
}

.assortmentColumn2 .assortmentColumnDesk:last-child .assortmentItem {
    width: 100%;
    height: 100%;
}


.assortmentColumn3 .assortmentColumnDesk {
    width: 100%;
    padding: 5px;
    height: calc(100% / 2);
}

.assortmentColumn3 .assortmentItem {
    width: 100%;
    height: 85%;
}


.assortmentColumn3 .assortmentInfo {
    width: 100%;
    height: 15%;
    margin: 0 auto;
    line-height: 45px;
}


.homeAbout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: row;
    margin-bottom: 150px;
    justify-content: space-between;
}

.homeAboutItem {
    width: calc(100% / 2 - 5px);
}

.homeAboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.homeAboutDesk {
    padding: 30px 50px;
    background-color: #ffece5;
    width: calc(100% / 2 - 5px);
}

.homeAboutTitle {
    color: #c31e39;
    font-weight: 100;
    font-size: 30px;
    padding: 10px 0 30px;
    text-transform: capitalize;
}


.homeAboutInfo {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.homeAboutLink {
    color: #4a4a4a;
    transition: all 0.4s;
}

.homeAboutLink:hover {
    color: #c31e39;
}

/*newProducts card style you can find in shop css*/
.new {
    width: 100%;
    margin-bottom: 150px;
}

.newTitle {
    color: #c31e39;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.newInfo {
    color: #c31e39;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 90px;
    text-transform: capitalize;
}

.newJewelryRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.blockquote {
    width: 100%;
    padding: 0 100px;
}

.blockquoteTitle {
    color: #c31e39;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.blockquoteInfo {
    color: #c31e39;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 90px;
    text-transform: capitalize;
}

.quotesBlock {
    padding: 35px 75px;
    background-color: #ffece5;
}


.quoteSymbol {
    color: #c31e39;
    font-size: 70px;
    font-weight: 600;
    /*text-align: center;*/
    margin-bottom: -15px;
}

.quote {
    color: #4a4a4a;
    padding: 0 95px;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-bottom: 45px;
}

.blockquoteBtm {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.thePerson {
    color: #c31e39;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.quoteLine {
    width: calc(100% / 3);
    border: 1px solid #c31e39;
    background-color: rgba(195, 30, 57, 0.76);

}

/*ABOUT*/
.aboutCleaning,
.about {
    width: 100%;
    padding: 200px 0 100px;
}


.aboutCleaningMainTitle,
.aboutMainTitle {
    color: #c31e39;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.aboutCleaningBlock,
.aboutBlock {
    width: 90%;
    padding: 50px;
    margin-bottom: 90px;
    background-color: #ffece5;
}


.aboutDesk {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.aboutCleaningTitle,
.aboutTitle {
    color: #c31e39;
    font-weight: 100;
    font-size: 28px;
    padding: 10px 0 30px;
    text-transform: capitalize;
}


.aboutCleaningInfo,
.aboutInfo {
    width: 50%;
    font-weight: 100;
    font-size: 17px;
}

.aboutCleaningFigure,
.aboutFigure {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.aboutImg {
    width: 45%;
    height: 400px;
    object-fit: cover;
}

.aboutCleaningVideo,
.aboutCleaningImg {
    width: 45%;
    height: 500px;
    object-fit: cover;
    margin-left: 40px;
}


.aboutCleaningList {
    padding-left: 20px;
}

.aboutClean {
    width: 45%;
    padding: 30px;
    text-align: center;
    margin-right: 40px;
    background-color: #c31e39;
}

.aboutCleanLink2 {
    color: #4a4a4a;
    font-size: 17px;
    margin-bottom: 20px;
    transition: all 0.4s;
}

.aboutCleanLink2:hover {
    color: #c31e39;
}

.aboutCleanFigure {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    border: 5px solid #ffece5;
}

.aboutCleanImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutCleanTitle {
    color: #ffece5;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.aboutCleanLink {
    color: #ffece5;
    font-size: 17px;
    margin-bottom: 20px;
    transition: all 0.4s;
}

.aboutCleanLink:hover {
    color: black;
}

/*LOGIN & REGISTRATION*/
.registrationPage,
.logIn {
    width: 100%;
    padding: 100px;
    background-color: #c31e39;
}

.regPage,
.loginPage {
    width: 90%;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border-radius: 5px;
    flex-direction: row;
    background-color: #ffece5;
    box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
}

.registerBanner {
    width: 50%;
    height: 100%;
    padding: 30px;
}

.logInBanner {
    width: 50%;
    height: 100%;
    padding: 30px;
}

.regBannerFigcaption,
.logInBannerFigcaption {
    position: relative;
}

.regPageLogo,
.loginPageLogo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 150px;
}

.regPageLogoName,
.loginPageLogoName {
    color: #4a4a4a;
    font-size: 21px;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.regPageLogoImg,
.loginPageLogoImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.regBannerTitle,
.loginBannerTitle {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.regBannerInfo,
.loginBannerInfo {
    right: 0;
    color: #4a4a4a;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    text-align: right;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.regForm,
.loginForm {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 30px 50px 30px;
}


.loginFormTitle {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
    text-transform: capitalize;
}


.PhoneInputInput,
.regFormInput,
.loginFormInput {
    border: none;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    background-color: #ffece5;
}

.loginFormLabel,
.PhoneInput,
.regFormLabel,
.react-datepicker-wrapper {
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.4s;
    border-bottom: 2px solid #4a4a4a;
}

.loginFormInput:focus,
.PhoneInputInput:focus,
.regFormInput:focus {
    outline: none;
}

.regFormLabel:hover {
    border-bottom: 2px solid #c31e39;
    animation: input 1.5s ease-in-out 0s forwards;
}


/*.regFormInput:focus ~ .regFormLabel {*/
/*    border-bottom: 2px solid #c31e39;*/
/*    animation: input 1.5s ease-in-out 0s forwards;*/

/*}*/


.forgotPassword {
    color: #4a4a4a;
    font-weight: 400;
    text-align: right;
    transition: all 0.4s;
    margin: 0 0 40px;
    text-decoration: none;
}

.forgotPassword:hover {
    color: #c31e39;
}

.loginFormBtn {
    height: 40px;
    color: #ffece5;
    font-weight: 700;
    border-radius: 50px;
    margin-bottom: 100px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 1px solid #c31e39;
    background-color: #c31e39;
}

.regFormBtn:hover,
.loginFormBtn:hover {
    color: #c31e39;
    background-color: #ffece5;
}

.regFormLink,
.loginFormLink {
    color: #4a4a4a;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s;
    text-decoration: none;
    text-transform: capitalize;
}

.regFormLink:hover,
.loginFormLink:hover {
    color: #c31e39;
}


.regFormTitle {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}


.regFormBtn {
    height: 40px;
    color: #ffece5;
    font-weight: 700;
    border-radius: 50px;
    margin: 0 0 50px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 2px solid #c31e39;
    background-color: #c31e39;
}

.loginBottom {
    width: 100%;
    color: #4a4a4a;
    display: flex;
    justify-content: space-between;
}

.containerCheck {
    cursor: pointer;
    font-weight: 400;
    position: relative;
    padding-left: 25px;
}

.containerCheck input {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.checkmarkFilter,
.checkmark {
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #4a4a4a;
    background-color: #ffece5;
}

.checkmarkFilter {
    background-color: #fff;
}

.containerCheck input:checked ~ .checkmarkFilter,
.containerCheck input:checked ~ .checkmark {
    background-color: #c31e39;
    border: none;
}

.checkmarkFilter:after,
.checkmark:after {
    top: 0;
    left: 0;
    content: "";
    display: none;
    position: absolute;
}

.containerCheck input:checked ~ .checkmarkFilter:after,
.containerCheck input:checked ~ .checkmark:after {
    display: block;
}

p {
    margin-bottom: 0;
}

.containerCheck .checkmarkFilter:after,
.containerCheck .checkmark:after {
    top: 4px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*RESET PASSWORD*/
.pasResetTitle {
    color: #4a4a4a;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.4s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.resetPas {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #c31e39;
}

.resetPasPage {
    width: 50%;
    margin: 0 auto;
    padding: 70px;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    background-color: #ffece5;
    box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
}

.resetPasForm {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.resetPasTitle {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.resetPasInfo {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.4s;
    margin: 15px 0 30px;
    text-decoration: none;
}

.resetPasInput {
    border: 0;
    outline: 0;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin: 0 auto 30px;
    transition: all 0.6s;
    background-color: #ffece5;
    border-bottom: 2px solid #4a4a4a;
}


.resetPasInput:focus {
    outline: none;
    border-bottom: 2px solid #c31e39;
    animation: input 1.5s ease-in-out 0s forwards;
}

.resetPasBtn {
    width: 100%;
    height: 40px;
    color: #ffece5;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 2px solid #c31e39;
    background-color: #c31e39;
}

.resetPasBtn:hover {
    color: #c31e39;
    background-color: #ffece5;
}

/*CONTACT*/
.contact {
    width: 100%;
    height: 100vh;
    padding: 100px;
    background-color: #c31e39;
}

.contactPage {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 1px;
    border-radius: 5px;
    flex-direction: row;
    background-color: #ffece5;
    box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0 38px -2px rgba(0, 0, 0, 0.75);
}

.contactMap {
    width: 50%;
    padding: 30px;
}

.contactDesk {
    width: 50%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 30px;
    flex-direction: column;
}

.contactLogo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 20px;
}

.contactLogoName {
    color: #4a4a4a;
    font-size: 21px;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.contactLogoImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.contactTitle {
    color: #c31e39;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;

}

.contactSoc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.contactLink {
    color: #4a4a4a;
    transition: all 0.4s;
    text-decoration: none;
}

.contactLink:hover {
    color: #c31e39
}

.contactForm {
    width: 100%;
    display: flex;
    padding-right: 30px;
    flex-direction: column;
}

.contactInfo {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.contactMessage,
.contactInput {
    border: 0;
    outline: 0;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin: 0 auto 20px;
    transition: all 0.6s;
    background-color: #ffece5;
    border-bottom: 2px solid #4a4a4a;
}

.contactMessage:focus,
.contactInput:focus {
    outline: none;
    border-bottom: 2px solid #c31e39;
    animation: input 1.5s ease-in-out 0s forwards;
}


.contactMessage {
    resize: none;
    padding-top: 5px;
    margin-bottom: 20px;
}

.contactBtn {
    height: 40px;
    color: #ffece5;
    font-weight: 700;
    border-radius: 50px;
    margin-bottom: 120px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 2px solid #c31e39;
    background-color: #c31e39;
}

.contactBtn:hover {
    color: #c31e39;
    background-color: #ffece5;
}

/*SHOP*/
.shop {
    width: 100%;
}

.shopPageSection {
    z-index: 1;
    width: 100%;
    height: 650px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/post/shopSectionPhoto.png");
}

.shopPageSection:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: rgba(32, 32, 32, 0.5);
}

.shopPageSectionInfo {
    top: 50%;
    width: 100%;
    color: #ffece5;
    position: absolute;
    text-align: center;
}

.shopTitle {
    width: 100%;
    font-size: 54px;
    font-weight: bold;
    font-family: 'Fuzzy Bubbles', sans-serif;
}

.shopSlogan {
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


.shopAside {
    width: 30%;
    color: #4a4a4a;
    padding: 70px 30px;
}

.shopSection {
    width: 70%;
    color: #4a4a4a;
    padding: 70px 20px;
}


.shopBtCategory {
    width: 100%;
    display: flex;
    margin-bottom: 45px;
    flex-direction: column;
}

.shopAsideTitle {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.shopAsideSubtitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.shopPriceRange {
    width: 98%;
    margin: 0 auto 15px;
}


.shopPrices {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.shopPriceMin,
.shopPriceMax {
    width: 45%;
    position: relative;
}

.shopPrices input {
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding-left: 5px;
}

.shopPrices [placeholder] {
    text-align: right;
    padding-right: 5px;
}

.shopPriceSpan {
    top: 50%;
    left: 12px;
    color: #4a4a4a;
    position: absolute;
    transform: translateY(-50%);
}


.shopPriceTo {
    margin: 0 20px;
    font-size: 19px;
    font-weight: 300;
    text-transform: capitalize;
}


.shopLabels {
    display: flex;
    font-size: 19px;
    font-weight: 300;
    align-items: center;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.shopLabelsIcon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0 5px 0 20px;
}

.shopPriceMax input,
.shopPriceMin input {
    padding-right: 5px;
}


.rc-slider-handle,
.rc-slider-track {
    background-color: #c31e39;
    border: 1px solid #c31e39;
}

.rc-slider-handle:hover {
    border-color: #ffece5;
}

.rc-slider-handle:focus-visible {
    border-color: #ffece5;
    box-shadow: 0 0 0 3px #ffece5;
}

.rc-slider-handle.rc-slider-handle.rc-slider-handle.rc-slider-handle {
    cursor: grabbing;
    border-color: #ffece5;
    box-shadow: 0 0 5px #ffece5;
}

.shopProductsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.newProduct,
.shopProduct {
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    transition: all 0.5s;
    background-color: #ffece5;
    width: calc(100% / 3 - 10px);
}

.newProductImg,
.shopProductImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

.newProductInfo,
.shopProductInfo {
    width: 100%;
}

.newProductTitle,
.shopProductTitle {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.newProductPrice,
.shopProductPrice {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.linkToSinglePage {
    width: 50%;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.4s;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffece5;
}

.newProductLabel,
.shopProductLabel {
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    position: absolute;
    align-items: center;
    transition: all 0.7s;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);;
}

.newProduct:hover .newProductLabel,
.shopProduct:hover .shopProductLabel {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.linkToSinglePage:hover {
    color: #c31e39;
}


/*SINGLE PAGE*/
.single {
    width: 100%;
    padding: 150px 0 100px;
}

.singleTitle {
    color: #c31e39;
    font-size: 34px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.singlePage {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    background-color: #ffece5;
}

.singleItem {
    width: calc(100% / 2);
    height: 350px;
    object-fit: cover;
    margin-right: 40px;
}

.singleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.singleInfo {
    position: relative;
    width: calc(100% / 2);
}

.singleInfoTitle {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.singleInfoPrice {
    color: #4a4a4a;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
    background-color: #ffece5;
}

.singleInfoDescription {
    color: #4a4a4a;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}

.singleInfoLabel {
    font-size: 19px;
    font-weight: 500;
}

.singleSizeSelect {
    height: 20px;
    text-align: center;
    margin: 0 0 25px 15px;
}

.singleInfoQuantity {
    width: 175px;
    display: flex;
    flex-direction: row;
    border: 1px solid #4a4a4a000;
}

.singleBtnM,
.singleBtnP {
    height: 40px;
    font-size: 22px;
    border: none;
    width: calc(100% / 3);
    background-color: white;
}

.singleInfoInput {
    height: 40px;
    border: none;
    font-size: 16px;
    text-align: center;
    width: calc(100% / 3);
}

.singleInfoBtn {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #ffece5;
    font-weight: 700;
    position: absolute;
    border-radius: 50px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 2px solid #c31e39;
    background-color: #c31e39;
}

.singleInfoBtn:hover {
    color: #c31e39;
    background-color: #ffece5;
}


/*CART*/
.cart {
    width: 100%;
    padding: 150px 0 100px;
}

.cartTitle {
    color: #c31e39;
    font-size: 34px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.cartTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.cartTableThead {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px solid #4a4a4a;
}

.cartTableTheadTitles {
    height: 50px;
}

.cartTableTheadTitles td:nth-child(4), td:nth-child(5) {
    text-align: center;
}

.cartTableTbody {
    color: #4a4a4a;
    font-size: 18px;
    letter-spacing: 1px;
}

.cartTableTbodyTr {
    height: 150px;
    border-bottom: 1px solid #4a4a4a;
}

.cartTableProduct {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cartTableTitle {
    text-transform: capitalize;
}

.cartTableItem {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.cartTableImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartTableInfo {
    font-size: 17px;
    letter-spacing: 0;
}

.cartTableSize {
    text-transform: uppercase;
}

.cartTableQuantity {
    width: 150px;
    display: flex;
    flex-direction: row;
    border: 1px solid #4a4a4a;
}

.cartTableBtnM,
.cartTableBtnP {
    height: 45px;
    border: none;
    font-size: 22px;
    width: calc(100% / 3);
    transition: all 0.4s;
    background-color: #ffffff;
}

.cartTableBtnM:hover,
.cartTableBtnP:hover {
    background-color: #c31e39;
}

.cartTableInput {
    height: 45px;
    border: none;
    font-size: 19px;
    text-align: center;
    width: calc(100% / 3);
    background-color: #fff;
}

.cartTablePrice {
    font-weight: 600;
    text-align: center;
}

.cartTableBtnR {
    width: 100%;
    border: none;
    background-color: #fff;
}

.cartTableIcon {
    font-size: 20px;
    text-align: center;
    transition: all 0.4s;
}

.cartTableIcon:hover {
    color: #c31e39;
}

.orderSummaryDetails {
    width: 100%;
    text-align: right;
    position: relative;
    margin-bottom: 120px;
}

.summery {
    right: 0;
    width: 40%;
    padding: 40px;
    position: absolute;
}

.summeryDesk {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    text-transform: capitalize;
    justify-content: space-between;
}

.summeryBtn {
    width: 100%;
    height: 40px;
    color: #ffece5;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.4s;
    text-transform: uppercase;
    border: 2px solid #c31e39;
    background-color: #c31e39;
}

.summeryBtn:hover {
    color: #c31e39;
    background-color: white;
}

/*PROFILE*/
.profile {
    width: 100%;
    padding: 150px 0 100px;
}

.profileTitle {
    color: #c31e39;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.customer {
    width: 100%;
}


.customerWelcome {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.customerInactive {
    color: #4a4a4a;
    transition: all 0.4s;
    text-transform: uppercase;
}

.deleteProfile {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
    transition: all 0.4s;
}

.deleteProfile:hover {
    color: #c31e39;
}

.customerTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.customerOrderInfo {
    padding: 20px;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 50px;
    background-color: #ffece5;
}

.customerInfo {
    text-transform: capitalize;
}

.customerOrderLink {
    color: #4a4a4a;
    transition: all 0.4s;
}

.customerOrderLink:hover {
    color: #c31e39;
}

.customerInactive:hover {
    color: #c31e39;
}

.customerDetails {
    margin-bottom: 50px;
}

.customerDesk {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    flex-direction: row;
    margin-bottom: 10px;
}

.customerName {
    text-transform: capitalize;
}

.customerEmail, .customerPhone, .customerName {
    margin-left: 15px;
}


/*FOOTER*/
.footer {
    width: 100%;
    padding: 100px;
    font-size: 17px;
    background-color: #ffece5;
}

.footerRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerBlock {
    width: calc(100% / 4 - 30px);
}


.footerTitle {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footerSocLink,
.footerNavLink {
    color: #4a4a4a;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}


.footerLink {
    color: #4a4a4a;
    transition: all 0.4s;
}

.footerLink:hover {
    color: #c31e39;
}

.footerGallery {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footerFigure {
    width: calc(100% / 3);
    height: calc(100% / 2);
}

.footerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;

}

.footerSocIcon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.footerSocBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footerSocDesk {
    margin: 10px 0 10px;
    font-weight: bold;
}

.footerSocList {
    margin-right: 15px;
}

.footerSocList,
.footerNavList {
    margin-bottom: 5px;
    list-style-type: none;
}

.footerSocLink,
.footerNavLink {
    margin-bottom: 20px;
    text-decoration: none;
    transition: all 0.4s;
}

.footerSocLink:hover,
.footerNavLink:hover {
    color: #c31e39;
}

.footerTel {
    color: #4a4a4a;
    margin-bottom: 15px;
    text-decoration: none;
    transition: all 0.4s;
}

.footerTel:hover {
    color: #c31e39;
}
