.profileTitle,
.singleTitle,
.aboutCleaningMainTitle,
.aboutMainTitle,
.blockquoteTitle,
.newTitle {
  font-size: 40px;
  margin-bottom: 25px;
}

.singleMainInfo,
.aboutCleaningMainInfo,
.aboutMainInfo,
.blockquoteInfo,
.newHomeInfo {
  font-size: 20px;
  margin-bottom: 50px;
}


//HOME
//banner

.bannerRow {
  flex-direction: column;
  padding: 40px 15px 30px 15px;
}

.bannerTitle {
  //font-size: 50px;
  margin-bottom: 20px;
}

.banner2Desk,
.bannerDesk {
  width: 100%;
  text-align: center;
}

.bannerDesk {
  padding: 0 80px 0;
}

.bannerBtn {
  margin-bottom: 40px;
}

.banner2Figure {
  width: 400px;
  height: 400px;
  margin-bottom: 40px;
}


.bannerFigure {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.banner2Info {
  font-size: 22px;
}

.bannerDiscounts {
  font-size: 18px;
}

.bannerDiscounts .span {
  font-size: 18px;
}

.bannerBtn {
  width: 80%;
}


//quote
.quote {
  padding: 0;
}

//home about
.homeAbout {
  display: flex;
  flex-direction: column;
}

.homeAboutItem {
  width: 100%;
}

.homeAboutDesk {
  width: 100%;
  padding: 15px;
  background-color: #ffece5;
}

.homeAboutTitle {
  font-size: 25px;
  padding: 0 0 15px;
  text-transform: capitalize;
}

//LOGIN & REGISTER & CONTACT
.red {
  background-color: #ffece5;
}

.contact,
.contact .container,
.registrationPage,
.registrationPage .container,
.logIn .container,
.logIn {
  padding: 0;
  background-color: #fff;
}

.contactPage,
.regPage,
.loginPage {
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.contactLogo {
  display: none;
}

.contactPage {
  flex-direction: column;
}

.contactMap {
  width: 100%;
  height: 300px;
}

.contactDesk {
  width: 100%;
}

.contactForm {
  padding: 0;
  margin: 0 auto
}

.contactBtn {
  margin-bottom: 40px;
}

.contactSoc {
  flex-direction: row;
  justify-content: space-between;
}

.contactLink {
  color: #c31e39;
}


.contactForm,
.regForm,
.loginForm {
  padding: 30px 70px 30px;
}

//ABOUT
.aboutCleaningBlock,
.aboutBlock {
  padding: 20px;
}

.aboutClean {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}


.aboutCleaningTitle,
.aboutTitle {
  font-size: 24px;
  padding: 0 0 15px;
}

.aboutCleaningFigure,
.aboutFigure {
  flex-direction: column;
}

.aboutCleaningVideo,
.aboutCleaningImg,
.aboutCleaningInfo,
.aboutInfo,
.aboutImg {
  width: 100%;
  margin: 0 0 30px 0;
}

//SHOP
.shopSection,
.shopAside {
  width: 50%;
}

.shopProduct {
  width: 300px;
}

//SINGLE
.singlePage {
  padding: 50px;
  flex-direction: column;
}


.singleItem {
  width: 100%;
  height: 300px;
  margin: 0 0 20px 0;
}

.singleInfoQuantity {
  width: 80%;
  border: 0;
  margin: 0 auto 20px;
}

.singleInfoInput,
.singleBtnM,
.singleBtnP {
  border: 1px solid #4a4a4a;
  background-color: #ffece5;
}

.singleInfoBtn,
.singleInfo {
  width: 100%;
  position: static;
}

.singleInfoTitle {
  font-size: 24px;
}

.singleItem {
  margin: 0 auto 25px;
}

.singleInfoDescription,
.singleInfoPrice {
  font-size: 19px;
}

//FOOTER
.footer {
  padding: 50px 15px;
}

.footerRow {
  flex-direction: column;
}

.footerBlock,
.footerStartBlock,
.footerEndBlock {
  width: 100%;
}

.footerBlock {
  margin-bottom: 35px;
}

.footerInfo {
  padding-right: 50px;
}

.footerTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.footerSocDesk {
  font-size: 18px;
}

.footerSocDesk {
  padding: 0;
  margin-top: -10px;
}

.footerContactLink {
  font-size: 15px;
}


