//HOME
.assortment {
  height: fit-content;
}

//ABOUT
.aboutClean {
  padding: 15px;
}

.aboutCleanTitle {
  font-size: 17px;
}

//CARD
.cartTableThead {
  font-size: 19px;
}

.cartTableTitle {
  font-size: 17px;
}

.cartTableInfo {
  font-size: 16px;
}

.cartTableQuantity {
  width: 100px;
}

//CONTACT & LOGIN & REGISTER
.contactPage,
.regPage,
.loginPage {
  width: 70%;
}

.contactPage {
  flex-direction: column;
}


.contactLogo {
  display: none;
}

.contactPage {
  flex-direction: column;
}

.contact {
  padding: 50px;
}

.contactMap {
  width: 100%;
  height: 300px;
}

.contactDesk {
  width: 100%;
}

.contactBtn {
  margin-bottom: 40px;
}

.contactLink {
  color: #c31e39;
}


//SHOP
.shopProduct {
  width: calc(100% / 2);
}

//FOOTER
.footer {
  padding: 50px 15px;
}

.footerRow {
  flex-direction: column;
}

.footerBlock,
.footerStartBlock,
.footerEndBlock {
  width: 100%;
}

.footerStartBlock {
  margin-bottom: 35px;
}

.footerTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.footerSocDesk {
  font-size: 18px;
}

.footerInfo {
  padding-right: 100px;
}

.footerSocDesk {
  padding: 0;
  margin-top: -10px;
}

.footerContactLink {
  font-size: 15px;
}


